<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890344030740-n8esabkfr1i11uokg891b727m0arfcsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890344030740-n8esabkfr1i11uokg891b727m0arfcsj</string>
	<key>API_KEY</key>
	<string>AIzaSyBpJT7hnlhl4s1Ewq4msro-QuuFP4k7NSk</string>
	<key>GCM_SENDER_ID</key>
	<string>890344030740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.food</string>
	<key>PROJECT_ID</key>
	<string>food-f28d9</string>
	<key>STORAGE_BUCKET</key>
	<string>food-f28d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890344030740:ios:ff659d01da1db5d833dd01</string>
</dict>
</plist>